<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand 3 Chicago datasets
2.  Load the 3 datasets into 3 tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

### Download the datasets

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

1.  **CENSUS_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012-v2.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Census Dataset</a>

2.  **CHICAGO_PUBLIC_SCHOOLS**  <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank"> Chicago Public School</a>

3.  **CHICAGO_CRIME_DATA:** <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera/data/Chicago_Crime_Data-v2.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank"> Chicago Crime Data </a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [1]:
import sqlalchemy
import ibm_db
import ibm_db_sa
import ibm_db_dbi
import sys

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [ ]:
primary_type = %sql SELECT COUNT (PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA;

In [5]:
df_1 = primary_type.DataFrame()
df_1

     1
0  533

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [ ]:
chicago_line_10 = %sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10;

In [7]:
df_2 = chicago_line_10.DataFrame()
df_2

,id,case_number,DATE,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area_number,fbicode,x_coordinate,y_coordinate,YEAR,updatedon,latitude,longitude
0,3512276,HK587712,2004-08-28 05:50:56,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSE,FALSE,...,9,14,58,6,1155838,1873050,2004,2018-02-10 15:50:01,None,None
1,3406613,HK456306,2004-06-26 12:40:00,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSE,FALSE,...,11,27,23,6,1152206,1906127,2004,2018-02-28 03:56:25,None,None
2,8002131,HT233595,2011-04-04 05:45:00,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME RETIREMENT HOME,FALSE,FALSE,...,2,3,38,6,1177436,1876313,2011,2018-02-10 15:50:01,None,None
3,7903289,HT133522,2010-12-30 04:30:00,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT OVER $300,RESIDENCE,FALSE,FALSE,...,4,7,46,6,1194622,1850125,2010,2018-02-10 15:50:01,None,None
4,10402076,HZ138551,2016-02-02 19:30:00,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSE,FALSE,...,8,15,66,6,1155240,1860661,2016,2018-02-10 15:50:01,None,None
5,7732712,HS540106,2010-09-29 07:59:00,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT GARAGENONRESID,FALSE,FALSE,...,12,27,24,6,1171668,1905607,2010,2018-02-10 15:50:01,None,None
6,10769475,HZ534771,2016-11-30 01:15:00,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,17,33,14,6,1154133,1933314,2016,2018-02-10 15:50:01,None,None
7,4494340,HL793243,2005-12-16 04:45:00,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,TRUE,FALSE,...,2,3,38,6,1180448,1879234,2005,2018-02-28 03:56:25,None,None
8,3778925,HL149610,2005-01-28 05:00:00,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,22,19,72,6,1160129,1838040,2005,2018-02-28 03:56:25,None,None
9,3324217,HK361551,2004-05-13 02:15:00,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSE,FALSE,...,17,35,21,6,1153590,1921084,2004,2018-02-28 03:56:25,None,None

### Problem 3

##### How many crimes involve an arrest?

In [ ]:
arrest = %sql SELECT "PRIMARY_TYPE", "ARREST" from "CHICAGO_CRIME_DATA" where "ARREST" = ('TRUE');

In [9]:
df_3 = arrest.DataFrame()
df_3

        primary_type arrest
0              THEFT   TRUE
1              THEFT   TRUE
2              THEFT   TRUE
3              THEFT   TRUE
4              THEFT   TRUE
..               ...    ...
158        OBSCENITY   TRUE
159  CONCEALED CARRY   TRUE
160  PUBLIC INDECENC   TRUE
161  OTHER NARCOTIC    TRUE
162  DOMESTIC VIOLEN   TRUE

[163 rows x 2 columns]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [ ]:
gas = %sql SELECT PRIMARY_TYPE, LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION';

In [11]:
df_4 = gas.DataFrame()
df_4

      primary_type location_description
0            THEFT          GAS STATION
1            THEFT          GAS STATION
2        NARCOTICS          GAS STATION
3          ROBBERY          GAS STATION
4          ROBBERY          GAS STATION
5  CRIMINAL TRESPA          GAS STATION

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [ ]:
area_name = %sql SELECT * FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%';

In [13]:
df_5 = area_name.DataFrame()
df_5

,community_area_number,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,PERCENT_AGED_16 _UNEMPLOYED,PERCENT_AGED_25 _WITHOUT_HIGH_SCHOOL_DIPLOMA,percent_aged_under_18_or_over_64,per_capita_income,hardship_index
0,19,Belmont Cragin,10.8,18.7,14.6,37.3,37.3,15461,70
1,47,Burnside,6.8,33.0,18.6,19.3,42.7,12515,79
2,58,Brighton Park,14.4,23.6,13.9,45.1,39.3,13089,84
3,60,Bridgeport,4.5,18.9,13.7,22.2,31.3,22694,43
4,72,Beverly,0.9,5.1,8.0,3.7,40.5,39523,12

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [ ]:
healthy = %sql SELECT NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS \
where HEALTHY_SCHOOL_CERTIFIED = 'Yes' and  COMMUNITY_AREA_NUMBER between 10 and 15;

In [15]:
df_6 = healthy.DataFrame()
df_6

                    name_of_school
0  Rufus M Hitch Elementary School

### Problem 7

##### What is the average school Safety Score?

In [ ]:
average = %sql select avg(SAFETY_SCORE) as avg_school_safety from CHICAGO_PUBLIC_SCHOOLS;

In [43]:
df_7 = average.DataFrame()

                     avg_school_safety
0  44.86925795053003533568904593639576

### Problem 8

##### List the top 5 Community Areas by average College Enrollment \[number of students]

In [ ]:
enroll = %sql select COMMUNITY_AREA_NAME , avg(COLLEGE_ENROLLMENT) as AVG_ENROLLMENT from CHICAGO_PUBLIC_SCHOOLS \
group by COMMUNITY_AREA_NAME order by AVG_ENROLLMENT desc limit 5;

In [32]:
df_8 = enroll.DataFrame()
df_8

  community_area_name  avg_enrollment
0      ARCHER HEIGHTS            2411
1           MONTCLARE            1317
2         WEST ELSDON            1233
3       BRIGHTON PARK            1205
4      BELMONT CRAGIN            1198

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [ ]:
safety = %sql select COMMUNITY_AREA_NAME from CHICAGO_PUBLIC_SCHOOLS \
where SAFETY_SCORE = (select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS);

In [45]:
df_9 = safety.DataFrame()
df_9

   community_area_name
0              KENWOOD
1              CHATHAM
2          MORGAN PARK
3             CLEARING
4       SOUTH LAWNDALE
5         NORWOOD PARK
6         NORTH CENTER
7          IRVING PARK
8       BELMONT CRAGIN
9              KENWOOD
10       MCKINLEY PARK
11           GAGE PARK
12      NEAR WEST SIDE
13      BELMONT CRAGIN
14         EDISON PARK
15              AUSTIN
16      BELMONT CRAGIN
17         SOUTH SHORE
18             OAKLAND
19            WOODLAWN
20        WEST PULLMAN
21             DOUGLAS
22            ROSELAND
23      AUBURN GRESHAM
24      SOUTH LAWNDALE
25         ROGERS PARK
26       HUMBOLDT PARK
27      NORTH LAWNDALE
28      SOUTH LAWNDALE
29        LINCOLN PARK
30     CALUMET HEIGHTS
31              AUSTIN
32       MCKINLEY PARK
33         ROGERS PARK
34       HUMBOLDT PARK
35       HUMBOLDT PARK
36         SOUTH SHORE
37     LOWER WEST SIDE
38        WEST PULLMAN
39             HERMOSA
40     NEAR NORTH SIDE
41           GAGE PARK
42         SOUTH SHORE
43      WEST ENGLEWOOD
44      NEAR WEST SIDE
45        WEST PULLMAN
46       MCKINLEY PARK
47              UPTOWN
48           GAGE PARK
49             DOUGLAS
50     NEAR NORTH SIDE
51         ALBANY PARK
52             DOUGLAS

### Problem 10

##### \[Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [ ]:
per_capita = %sql select A.PER_CAPITA_INCOME from CENSUS_DATA A, CHICAGO_PUBLIC_SCHOOLS B where A.COMMUNITY_AREA_NUMBER = B.COMMUNITY_AREA_NUMBER and B.SAFETY_SCORE = 1

In [47]:
df_10 = per_capita.DataFrame()
df_10

   per_capita_income
0              13785