In [11]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import ibm_db
import ibm_db_sa
import ibm_db_dbi
import sys

Store the datasets in database tables

In [12]:
%reload_ext sql

Connect to the database

In [13]:
%sql ibm_db_sa://bcz17630:zxlfB23ObdxZvcnw@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb?security=SSL

In [14]:
df_crime = %sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://bcz17630:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

In [15]:
table_1 = df_crime.DataFrame()
table_1

                  colname   typename  length
0                      ID    INTEGER       4
1             CASE_NUMBER    VARCHAR       8
2                    DATE  TIMESTAMP      10
3                   BLOCK    VARCHAR      35
4                    IUCR    VARCHAR       4
5            PRIMARY_TYPE    VARCHAR      15
6             DESCRIPTION    VARCHAR      46
7    LOCATION_DESCRIPTION    VARCHAR      33
8                  ARREST    VARCHAR       5
9                DOMESTIC    VARCHAR       5
10                   BEAT   SMALLINT       2
11               DISTRICT   SMALLINT       2
12                   WARD    VARCHAR       3
13  COMMUNITY_AREA_NUMBER    VARCHAR       3
14                FBICODE    VARCHAR       3
15           X_COORDINATE    INTEGER       4
16           Y_COORDINATE    INTEGER       4
17                   YEAR   SMALLINT       2
18              UPDATEDON  TIMESTAMP      10
19               LATITUDE     BIGINT       8
20              LONGITUDE     BIGINT       8

Problem 1
Find the total number of crimes recorded in the CRIME table

In [20]:
primary_type = %sql SELECT COUNT (PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://bcz17630:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

In [21]:
table_2 = primary_type.DataFrame()
table_2

     1
0  533

In [22]:
line_10 = %sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10;

 * ibm_db_sa://bcz17630:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

In [23]:
table_3 = line_10.DataFrame()
table_3

,id,case_number,DATE,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area_number,fbicode,x_coordinate,y_coordinate,YEAR,updatedon,latitude,longitude
0,3512276,HK587712,2004-08-28 05:50:56,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSE,FALSE,...,9,14,58,6,1155838,1873050,2004,2018-02-10 15:50:01,None,None
1,3406613,HK456306,2004-06-26 12:40:00,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSE,FALSE,...,11,27,23,6,1152206,1906127,2004,2018-02-28 03:56:25,None,None
2,8002131,HT233595,2011-04-04 05:45:00,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME RETIREMENT HOME,FALSE,FALSE,...,2,3,38,6,1177436,1876313,2011,2018-02-10 15:50:01,None,None
3,7903289,HT133522,2010-12-30 04:30:00,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT OVER $300,RESIDENCE,FALSE,FALSE,...,4,7,46,6,1194622,1850125,2010,2018-02-10 15:50:01,None,None
4,10402076,HZ138551,2016-02-02 19:30:00,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSE,FALSE,...,8,15,66,6,1155240,1860661,2016,2018-02-10 15:50:01,None,None
5,7732712,HS540106,2010-09-29 07:59:00,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT GARAGENONRESID,FALSE,FALSE,...,12,27,24,6,1171668,1905607,2010,2018-02-10 15:50:01,None,None
6,10769475,HZ534771,2016-11-30 01:15:00,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,17,33,14,6,1154133,1933314,2016,2018-02-10 15:50:01,None,None
7,4494340,HL793243,2005-12-16 04:45:00,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,TRUE,FALSE,...,2,3,38,6,1180448,1879234,2005,2018-02-28 03:56:25,None,None
8,3778925,HL149610,2005-01-28 05:00:00,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,22,19,72,6,1160129,1838040,2005,2018-02-28 03:56:25,None,None
9,3324217,HK361551,2004-05-13 02:15:00,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSE,FALSE,...,17,35,21,6,1153590,1921084,2004,2018-02-28 03:56:25,None,None